@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px
    }

    /* team */
    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list {
        display: flex;
        width: calc((100% - 72px) / 4);
        gap: 24px;
        flex-wrap: nowrap;
        justify-content: unset;
    }

    /* customers  */

    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customers-list {
        display: flex;
        gap: 24px;
        justify-content: center;
    }

    /* advantages */

    .advantages {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .advantages-list {
        display: flex;
        gap: 24px;
    }

    .advantages-item {
        min-width: 264px;
        /* width: calc((100% - 72px) / 4); */
    }

    .advantages-icon-list {
        margin-bottom: 8px;
        display: flex;
        gap: 24px;
        justify-content: center;
        align-items: center;
    }

    .advantages-icon-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 264px;
        height: 112px;
        background: #F4F4FD;
        border-radius: 4px;
    }

    .advantages-list {
        display: flex;
        flex-wrap: nowrap;
        row-gap: 72px;
    }

    .advantages-subtitle {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: var(--primary-color)
    }

    /* What are we doing */
    .works {
        display: block;
        padding-bottom: 120px;
    }

    .works-title {
        margin-bottom: 72px;

        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        color: var(--primary-color);

    }

    .works-list {
        display: flex;
        width: calc((100% - 48px) / 3);
        gap: 24px;
    }

    /*Hero  */

    .hero-title {
        margin: 0 auto 48px;
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        color: var(--hero-color);
    }

    .hero {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 188px;
        padding-bottom: 188px;
        text-align: center;
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/peopleoffice.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .hero-btn {
        padding: 16px 32px;
        border-radius: 4px;
        border-color: var(--logo-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--hero-color);
        background-color: var(--logo-color);
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .hero-btn:is(:hover, :focus) {
        background-color: var(--background-btn);
    }


    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-img-desk.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image:
                linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/hero-img-desk-2x.jpg);
        }
    }

    /* footer */
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
        background: var(--primary-color);
    }

    .footer-conctainer {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .footer-social {
        margin-left: 120px;
    }

    .footer-social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--secondary-color);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-form {
        margin-left: auto;
        margin-bottom: 29px;
        width: auto;
    }

    .footer-mail-form {

        display: flex;
        gap: 24px;
        flex-direction: row;
    }

    .form-btn {
        display: inline-flex;
        align-items: center;
        min-width: 165px;
        min-height: 40px;
        padding: 8px 24px;
        background-color: var(--logo-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: var(--hero-color);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
        margin: 0;
    }

    .footer-mail-input {
        max-width: 264px;
    }



    /* header */

    .header-container {
        display: flex;
        align-items: center;

    }

    .header-nav {
        display: flex;
    }

    .header-list {
        display: flex;
        gap: 40px;
        margin-left: 76px;
        align-items: center;
    }

    .address {
        margin-left: auto;
    }

    .address-list {
        display: flex;
        gap: 40px;
        flex-direction: row;
    }
}